@import url(/node_modules/open-props/normalize.min.css);


a {
    color: var(--font-color); 
    font-weight :bold;
}
a:hover {
    /* text-decoration:dashed; */
    text-decoration-color:var(--font-color);
  }


  :root {
    --primary: var(--gray-8);
    --font-color:  var(--gray-3);
    /* or any other variables/style */
    background-color:var(--primary);
    color: var(--font-color);
    
  }
  select{
    
    color: var(--font-color);
    background: var(--primary);
    border: 2px dotted var(--font-color);
    font-weight: bolder;
  }
  [data-theme='dark'] {
    --primary:  var(--gray-8);;
    --font-color: var(--gray-4);
  }
  [data-theme='light'] {
    --primary:  var(--cyan-2);
    --font-color: var(--cyan-11);
  }
  [data-theme='custom'] {
    --primary:  var(--c-primary);
    --font-color: var(--c-font-color);
  }
  
  