---


---

<html lang="ar" dir="rtl">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/sanabel-al-firdaws-astro/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="navbar"><h1>Blog</h1>		</div>
		<div>
			<h1>هلا </h1>
		</div>
		
	</body>
</html>


<style is:global>
.navbar {	
	
	/* background-image: var(--gradient-3), var(--noise-3);
   force colors and noise to collide 
  filter: var(--noise-filter-3);
  fit noise image to element */

  
background: var(--gradient-20);
box-shadow: var(--shadow-3);
}
div{


}


</style>