---
import ThemeChange from "../components/ThemeChange.astro";





const pagetitle ="المظهر"
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import HeadLayout from "../layouts/HeadLayout.astro";
import "../styles/global.css"

---

<html lang="ar" dir="rtl">
	<head>
		<HeadLayout/>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/sanabel-al-firdaws-astro/favicon.svg"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pagetitle}</title>
	</head>
	<body>
        <Navigation/>
        <h1>{pagetitle}</h1>
		<ThemeChange></ThemeChange>
		</div>
		<Footer/>

	</body>
</html>


