---
const Github_Repo =
    "https://github.com/abdullhakim-sami/Sanabel-Al-Firdaws-astro/";
const Github_User = "https://github.com/abdullhakim-sami/";
const Github_User_Profile_Pic = "https://github.com/abdullhakim-sami.png";
---
<main>
<div>
    <div class="card">
        <a href={Github_Repo}>شاركنا في تطوير الموقع</a>
        </div>
    <div class="card">
          <a href={Github_User}>
        مطور الموقع:  عبدالحكيم الشنقيطي
    
    </a> 


   
     
    </div>
</main>

<style>
main {
}
.card {
    flex-basis: var(--size-content-1);
  display: flex;
  flex-direction: column;
  background: var(--primary);
  text-align: center;
font-size: var(--font-size-fluid-1);
  padding: var(--size-1);

  box-shadow: var(--shadow-2);
}
/* .card2 {
  flex-basis: var(--size-content-1);
  display: flex;
  flex-direction: column;
  background: var(--indigo-4);
text-align: center;
font-size: var(--font-size-fluid-1);
  padding: var(--size-1);

  box-shadow: var(--shadow-2);
} */
 
    img {
        width: var(--size-fluid-8);
        height: var(--size-fluid-8);
    }
  
</style>
