---

---
<div >

<a href="/sanabel-al-firdaws-astro/"> الصفحة الرئيسية</a> 

<a href="/sanabel-al-firdaws-astro/blog"> سنابل الفردوس</a>

<a href="/sanabel-al-firdaws-astro/theme">المظهر</a>

  </div>
 

     

        
<style>
    a {
        margin-left:var(--size-3) ;
    }
    div {
        flex-basis: var(--size-content-1);
  display: flex;
  flex-direction: row;
  background: var(--primary);

font-size: var(--font-size-fluid-1);
  padding: var(--size-3);


  box-shadow: var(--shadow-2);
    }
</style>