---

---
<select style="padding-left: 16px;" id="choose-colors">
    <option value="primary">
      اللون الأساسي
    </option>
    <option value="font">
      لون الخط
    </option>
  </select>
  <select data-choose-theme >
    <option value="">المظهر الافتراضي</option>
    <option value="dark">داكن</option>
    <option value="light">فاتح</option>
    <option value="custom">مخصص</option>

  </select>
<lucid-color-picker dir="ltr" mode="hsla"><lucid-color-picker>
<script>
    import 'lucid-color-picker'
    const picker = document.querySelector('lucid-color-picker') as HTMLInputElement | null;
    var r = document.querySelector(':root') as HTMLInputElement | null;
    const choosecolors = document.getElementById('choose-colors') as HTMLInputElement | null;
    var cssvar = "--c-font-color";

 picker?.addEventListener('change', () => {
   
   if (choosecolors?.value == "primary") {
 cssvar = '--c-primary'
}else {
 cssvar = '--c-font-color'
};


  //  console.log(`Color changed to ${picker.value}`); 

   r?.style.setProperty(cssvar, picker.value);

   localStorage.setItem(cssvar, picker.value);
 });
 </script>
